#scan-clock {
  font-size: 75px;
  font-weight: bold;
}

#scan-date {
  font-size: 36px;
}

#jumbotron {
  width: 70%;
  margin: auto;
}

input {
  width: 400px;
  text-align: center;

}

input:focus {
  color: transparent;
  text-shadow: 0px 0px 0px #666;
}